<form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)" [ngFormOptions]="{updateOn: 'blur'}">
    <h1>User Form</h1>
    
    Name: <br/>
    <input type="text" name="username" #username="ngModel" ngModel pattern="[a-zA-Z]*$" required>
    <span *ngIf="username.errors && username.errors.required && userForm.submitted" class="error">
        Name is required! <br/>
    </span> <br/>
    <span *ngIf="username.errors && username.errors.pattern && userForm.submitted" class="error">
        This is not a valid username <br/>
    </span>


    Email: <br/>
    <input type="email" name="email" #email="ngModel" ngModel pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)" required>
    <span *ngIf="email.errors && email.errors.required && userForm.submitted" class="error"> 
        Email is required! <br/>
    </span> <br/>
    <span *ngIf="email.errors && email.errors.pattern && userForm.submitted" class="error">
        Invalid Email! <br/>
    </span>


    Date of Birth: (dd/mm/yyyy)<br/>
    <select name="date" required #date="ngModel" ngModel>
        <option *ngFor="let date of dates" [ngValue]="date">
            {{ date.value }}
        </option>
    </select>
    <select name="month" required #month="ngModel" ngModel>
        <option *ngFor="let month of months" [ngValue]="month">
            {{ month }}
        </option>
    </select>
    <select name="year" required #year="ngModel" ngModel>
        <option *ngFor="let year of years;"  [ngValue]="year">
            {{year}}
        </option>
    </select>
    <!-- Errors -->
    <span *ngIf="date.errors && date.errors.required && userForm.submitted" class="error">
        Date is required! <br/>
    </span> <br/>
    <span *ngIf="month.errors && month.errors.required && userForm.submitted" class="error">
        Month is required! <br/>
    </span> <br/>
    <span *ngIf="year.errors && year.errors.required && userForm.submitted" class="error">
        Year is required! <br/>
    </span> <br/>


    <input type="radio" name="gender" value="male" #gender="ngModel" ngModel required> : Male <br/>
    <input type="radio" name="gender" value="female" #gender="ngModel" ngModel required> : Female <br/>
    <input type="radio" name="gender" value="other" #gender="ngModel" ngModel required> : Other <br/>
    <span *ngIf="gender.errors && gender.errors.required && userForm.submitted" class="error">
        You must select one of the options! <br/>
    </span>

    <input type="submit" value="Submit!">
<form>