<form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)" [ngFormOptions]="{updateOn: 'blur'}">
    Name: <br/>
    <input type="text" name="username" #username="ngModel" ngModel pattern="[a-zA-Z]*$" required>
    <span *ngIf="username.errors && username.errors.required && userForm.submitted" class="error">
        Name is required! <br/>
    </span> <br/>
    <span *ngIf="username.errors && username.errors.pattern && userForm.submitted" class="error">
        This is not a valid username <br/>
    </span>


    Email: <br/>
    <input type="email" name="email" #email="ngModel" ngModel pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)" required>
    <span *ngIf="email.errors && email.errors.required && userForm.submitted" class="error"> 
        Email is required! <br/>
    </span> <br/>
    <span *ngIf="email.errors && email.errors.pattern && userForm.submitted" class="error">
        Invalid Email! <br/>
    </span>


    Date of Birth: (dd/mm/yyyy)<br/>
    <input type="text" name="DOB" #DOB="ngModel" ngModel pattern="(((0|1)[0-9]|2[0-9]|3[0-1])\/(0[1-9]|1[0-2])\/((19|20)\d\d))$" required>
    <span *ngIf="DOB.errors && DOB.errors.required && userForm.submitted" class="error">
        Date of Birth is required! <br/>
    </span> <br/>
    <span *ngIf="DOB.errors && DOB.errors.pattern && userForm.submitted" class="error">
        Invalid Format <br/>
    </span>


    <input type="radio" name="gender" value="male" #gender="ngModel" ngModel required> : Male <br/>
    <input type="radio" name="gender" value="female" #gender="ngModel" ngModel required> : Female <br/>
    <input type="radio" name="gender" value="other" #gender="ngModel" ngModel required> : Other <br/>
    <span *ngIf="gender.errors && gender.errors.required && userForm.submitted" class="error">
        You must select one of the options! <br/>
    </span>

    <input type="submit" value="Submit!">
<form>